<div class="container">
    <div *ngIf="msg !== ''">
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>Success!</strong> {{msg}}
        </div>
    </div>
    <h1 class="text-center border rounded">Add A Tourist Details</h1>
    <form class="mt-5">
        <div>
            <div class="mb-3">
                <label for="tid" class="form-label">Tourist ID:</label>
                <input name="tid" type="number" class="form-control" id="tid" placeholder="Enter Tourist ID"
                    [(ngModel)]="tourist.tid">
            </div>
            <div class="mb-3">
                <label for="tname" class="form-label">Tourist Name:</label>
                <input name="tname" type=" text" class="form-control" id="tname" placeholder="Enter Tourist Name"
                    [(ngModel)]="tourist.name">
            </div>
            <div class="mb-3">
                <label for="tcity" class="form-label">Tourist City:</label>
                <input name="tcity" type="text" class="form-control" id="tcity" placeholder="Enter Tourist City"
                    [(ngModel)]="tourist.city">
            </div>
            <div class="mb-3">
                <label for="tPackageType" class="form-label">Tourist Package Type:</label>
                <select name="tPackageType" class="form-control" id="tPackageType">
                    <option>Choose Package Type</option>
                    <option name="Luxuary" *ngFor="let touristPackage of touristPackages; index as i"
                        value="{{touristPackage.packageName}}" (click)="selectedPackageName(i)"
                        [(ngModel)]="tourist.packageType">
                        {{touristPackage.packageName}}</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="tBudget" class="form-label">Tourist Budget:</label>
                <select name="tBudget" class="form-control" id="tBudget" placeholder="Choose Budget">
                    <option>Choose Package Type</option>
                    <option name="Luxuary" *ngFor="let touristPackage of touristPackages; index as i"
                        value="{{touristPackage.budget}}" (click)="selectedBudgetAmount(i)"
                        [(ngModel)]="tourist.budget">
                        {{touristPackage.budget}}</option>
                </select>
            </div>
        </div>
        <div class="mb-3 text-center">
            <button type="button" id="addTourist" name="addTourist" class="btn btn-primary" (click)="saveTourist()">Add
                Tourist</button>
        </div>
    </form>
</div>